<h2>Lista de Eventos</h2>
<div class="page-size">
  <div class="card">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Data de Início</th>
          <th>Encerramento</th>
          <th>Valor</th>
          <th>Online?</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            <a title="Detalhes" class="btn btn-info">
              <span class="fa fa-search"></span> Saber mais
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>